extends ../layout

block content
	style(type="text/css").
		//- .thumbnail{width: 20%}
		h3{margin: 0}
		.captain * {text-align: center;}
		.captain > h3, .captain > p{margin-top: 10px;}
		.panel-heading > h3 > a{color: #fff;}
	.container(style="margin-bottom: 50px;")
		.row
			each cat in categories
				.panel.panel-primary
					.panel-heading
						h3
							a(href="/results?cat=#{cat._id}&p=1") #{cat.name}
					.panel-body
						if cat.movies && cat.movies.length > 0
							each item in cat.movies
								.col-md-2
									.thumbnail
										a(href="/movie/#{item._id}")
											img(src="#{item.poster}", alt="#{item.title}")
										.captain
											h3 #{item.title}
											p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片